
-- Improved Admin Dashboard Statistics View with Orphaned Protection (Booking + Customer)
DROP VIEW IF EXISTS admin_dashboard_stats;
CREATE VIEW admin_dashboard_stats AS
WITH valid_bookings AS (
    -- Ab hum sirf un bookings ko le rahe hain jin ke customers database mein mojud hain
    SELECT b.* 
    FROM bookings b
    INNER JOIN customers c ON b.customer_id = c.id
    WHERE b.status != 'Voided'
),
payment_stats AS (
    -- Sirf un payments ka sum jo valid bookings se linked hain
    SELECT COALESCE(SUM(p.amount_paid), 0) as total_cash
    FROM payments p
    INNER JOIN valid_bookings vb ON p.booking_id = vb.id
    WHERE p.voided = FALSE
),
booking_totals AS (
    SELECT 
        COALESCE(SUM(total_price), 0) as total_sales,
        COUNT(id) as total_bookings,
        COUNT(id) FILTER (WHERE status != 'Completed' AND status != 'Voided') as active_cases,
        COUNT(id) FILTER (WHERE booking_type = 'Package') as umrah_count,
        COUNT(id) FILTER (WHERE booking_type = 'Ticket') as ticket_count,
        COUNT(id) FILTER (WHERE booking_type = 'Visa') as visa_count
    FROM valid_bookings
)
SELECT 
    bt.total_sales,
    ps.total_cash as total_collected,
    (bt.total_sales - ps.total_cash) as total_balance,
    bt.active_cases,
    bt.total_bookings,
    bt.umrah_count,
    bt.ticket_count,
    bt.visa_count
FROM booking_totals bt, payment_stats ps;

